<body>

    <h1>Upload  File</h1>
    <form enctype="multipart/form-data" action="http://localhost:1234/uploads" method="post">
    <input type="file" name="myfile"/><br><br>
    <input type="submit" value="Upload File" name="submit"><br><br>
</form>
</body>